Thumbs.db
ehthumbs.db
Desktop.ini
*.cab
*.msm
$RECYCLE.BIN/
*.msp
*.lnk
*.msi
.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes
.AppleDB
.AppleDesktop
.apdisk
.Spotlight-V100
Temporary Items
.idea/
.*sw*
idea
*~
node_modules/
npm-debug.log
bower_components/
*.iml
Network Trash Folder
