        xmlns="http://apache.org/cordova/ns/plugins/1.0"
<?xml version='1.0' encoding='utf-8'?>
<plugin id="test-shit-this" version="0.0.1"

    <name>TestShitThis</name>
        xmlns:android="http://schemas.android.com/apk/res/android">
        <clobbers target="TestShitThis" />
    <js-module name="TestShitThis" src="www/PASCAL_NAME.js">
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">

        Add in any class declaration names here so that they can be accessed by Cordova. Else the plugin will fail.
        -->

            <feature name="TestShitThis">

                <param name="ios-package" value="TestShitThis" />

        </config-file>
            </feature>

        <!-- Add in the plugin .swift files here -->
        <source-file src="src/ios/TestShitThis.swift" />

        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    </platform>
        <!--
        <!-- Add in the swift-support plugin by default -->
</plugin>
