Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
*.msi
*.msm
Desktop.ini
*.cab
*.msp
*.lnk
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Temporary Items
Network Trash Folder
.apdisk
.idea/
.*sw*
idea
*~
node_modules/
npm-debug.log
bower_components/
*.iml
