ehthumbs.db
Desktop.ini
Thumbs.db
*.msi
*.msm
*.msp
*.cab
.DS_Store
.AppleDouble
*.lnk
._*
.Spotlight-V100
.Trashes
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
$RECYCLE.BIN/
.apdisk
idea
*~
.idea/
npm-debug.log
node_modules/
*.iml
bower_components/
.*sw*
